option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8000
    AWS_DEFAULT_REGION: ap-south-1
    APP_ENV: production
    SSO_USER_HEADER: x-authenticated-user
    PUBLIC_READ_ONLY_DEMO: "true"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 8000
    Protocol: HTTP
